@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.main {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}

.container-fluid {
    justify-content: space-between !important;
}

body {
    background-color: rgba(128, 128, 128, 0.13);
    font-weight: 300;
}
.logo {
    color: white;
}
.navbar {
    position: fixed;
    z-index: 100;
    width: 100%;
    font-size: 23px;
}
.navbar-brand {
    margin: 10px 50px 10px 30px;
    font-size: 30px;
    letter-spacing: 5px;
    color: rgb(44, 44, 194);
}

.navbar-collapse {
    background-color: #212529;
}

@media (max-width: 1250px) {
    .navbar-nav.me-auto {
        font-size: 1.2rem;
    }
}

@media (max-width: 1190px) {
    .navbar-dark {
        height: auto;
    }
    .navbar-nav .nav-item {
        font-size: 1rem;
    }

    .history {
        margin: 0 !important;
    }
}

@media (max-width: 1050px) {
    .navbar-brand {
        font-size: 1.5rem;
    }
}

@media (max-width: 993px) {
    .search-Form {
        width: 60% !important;
    }
}

@media (max-width: 425px) {
    .search-Form {
        width: 100% !important;
        margin-top: 0.5rem;
    }

    .wrapper-content {
        margin-top: 3rem;
    }

    .navbar-brand {
        flex-grow: 1;
        text-align: center;
    }
}

.search-input {
    min-width: 15vw;
}

.container {
    max-width: 1030px;
    padding: 0 15px;
    margin: 0 auto;
}
.wrapper-content {
    padding-top: 100px;
}
.cart-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
}
.card {
    flex-basis: 30%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.253);
}

.type-card {
    font-size: 15px;
    color: #cecece;
}

.card:hover {
    flex-basis: 30%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.459);
}
.card .card-img {
    flex-basis: 50%;
    padding: 10px;
}
.card-body {
    flex: 0 0 0;
}
.card-text {
    font-size: 15px;
    color: rgba(128, 128, 128, 0.897);
    height: 85px;
    overflow: hidden;
}
.d-flex {
    height: 50px;
}
.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.555);
    color: black;
}
.card-price {
    position: absolute;
    left: 20px;
    top: 20px;
    font-weight: bold;
    color: rgb(168, 3, 3);
    font-size: 20px;
}
.modal,
.modal-basket,
.modal-history {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content,
.modal-content2,
.history-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.modal-content2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border-bottom: 2px solid black;
    margin: 0 1rem;
}

.controls h2 {
    margin: 0;
    letter-spacing: 2px;
    font-weight: lighter;
    text-transform: uppercase;
}

.controls i {
    cursor: pointer;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(221, 221, 221);
    padding: 0 0 1rem;
    margin: 0 0 2rem;
}

.cart-item:last-child {
    margin: 0;
}

.item-details {
    display: flex;
}

.cart-item-data {
    margin-left: 3rem;
    width: auto;
}

.cart-item-name {
    margin: 0;
    font-size: 2rem;
    font-weight: 300;
}

/*TODO: fix image size */
.item-image {
    max-width: 7vw;
    object-fit: cover;
}

.cart-item-price {
    font-size: 1.2rem;
}

.order,
.delete {
    padding: 0.5rem 2.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
    background-color: transparent !important;
    color: black;
}

.order {
    margin-right: 0.5rem;
}
.form {
    margin: 0 auto;
    width: 80%;
    display: none;
    margin-bottom: 2rem;
}
.form-control {
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}
.form-order-btn {
    margin-bottom: 1rem;
}

.form-control input:focus {
    outline: 0;
    border-color: #777;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control small {
    color: #e74c3c;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.form button {
    border-radius: 4px;
    color: #fff;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}
.delete:hover,
.order:hover {
    color: white;
    border: 1px solid transparent;
    transition: all 0.5s !important;
}

.delete:hover {
    background-color: rgba(80, 4, 4, 0.897) !important;
}

.order:hover {
    background-color: rgba(5, 50, 155, 0.897) !important;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.close,
.closeBsktModal {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.closeBsktModal:hover .close:focus,
.closeBsktModal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 10px 25px;
    color: black;
    font-size: 35px;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    color: black;
}
.modal-body2 {
    padding: 2rem;
}
@keyframes shake {
    0%,
    50%,
    100% {
        transform: rotate(0deg);
    }
    10%,
    30% {
        transform: rotate(-10deg);
    }
    20%,
    40% {
        transform: rotate(10deg);
    }
}

.icons:hover {
    animation: shake 1.2s ease-in-out;
    color: black;
}
.icons {
    font-size: 30px;
    color: black;
}

.window-photo {
    display: block;
    margin: 0 auto;
}
.close {
    color: black;
}

/* footer */
.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer a {
    color: #737373;
}
.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.site-footer .social-icons {
    text-align: right;
}
.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d;
}
.copyright-text {
    margin: 0;
}
@media (max-width: 991px) {
    .site-footer [class^='col-'] {
        margin-bottom: 30px;
    }
}
@media (max-width: 767px) {
    .site-footer {
        padding-bottom: 0;
    }
    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center;
    }
}
.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.social-icons li {
    display: inline-block;
    margin-bottom: 4px;
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
}
.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
}
.social-icons a.facebook:hover {
    background-color: #3b5998;
}
.social-icons a.twitter:hover {
    background-color: #00aced;
}
.social-icons a.linkedin:hover {
    background-color: #007bb6;
}
.social-icons a.dribbble:hover {
    background-color: #ea4c89;
}
@media (max-width: 767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600;
    }
    .window-photo {
        margin-left: 0rem;
        width: 10rem;
        height: 10rem;
    }
    .item-details {
        width: fit-content;
    }
    .item-details .item-image {
        width: 40rem;
        height: 5rem;
    }
    .cart-item-name {
        font-size: 1rem;
    }
    .cart-item {
        height: auto;
        width: auto;
    }
    .cart-item-price {
        font-size: 1rem;
    }
    .controls h2,
    .controls i {
        font-size: 1rem;
    }
    .order,
    .delete {
        font-size: 0.7rem;
        width: 10%;
        margin-left: 3rem;
        margin-top: 0.2rem;
    }
    .window-btn-container {
        width: fit-content;
    }
    .mdl-footer h3 {
        font-size: 1.3rem;
        text-align: center;
    }

    .window-btn-container {
        text-align: right important!;
    }
    .modal-body > p {
        margin-top: 2rem;
        text-align: left;
    }
    .modal-body > img {
        margin: 1rem 4rem 2rem;
    }
    .modal-header > p {
        font-size: 1.5rem;
    }
    .modal-content2 {
        width: 70%;
        height: fit-content;
    }
}
.basketItem-container {
    display: 'none';
}
.counter {
    display: none;
    color: white;
    position: relative;
    left: 3.5rem;
    top: -45px;
    background-color: darkred;
    width: 1rem;
    height: 1rem;
    border-radius: 20%;
    text-align: center;
    font-size: small;
}

.history {
    margin-left: 1.4rem;
}
.history-modal {
    display: none;
}
.mdl-footer {
    margin: 1rem 2rem 2rem 0;
    text-align: right;
}

@media (max-width: 780px) {
    .card-price {
        font-size: 15px;
    }
    .card-text {
        font-size: 12px;
    }
}

@media (max-width: 700px) {
    .card {
        flex-basis: 48%;
    }
    .card:hover {
        flex-basis: 48%;
    }

    .card-price {
        font-size: 20px;
    }

    .card-text {
        font-size: 15px;
    }

    
}

@media (max-width: 550px) {
    .card-text {
        font-size: 12px;
    }
}

@media (max-width: 543px) {
    .wrapper-content {
        padding-top: 135px;
    }

    .form-control {
        height: 35px;
    }

    .btn {
        height: 35px;
    }
}

@media (max-width: 450px) {
    .card-price {
        font-size: 15px;
    }
}

@media (max-width: 425px) {
    .wrapper-content {
        padding-top: 100px;
    }
}

@media (max-width: 400px) {
    .card {
        flex-basis: 100%;
    }
    .card:hover {
        flex-basis: 100%;
    }
    .card-price {
        font-size: 20px;
    }
    
}
